<ion-view view-title="Profile">
<!--   <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft($event)"></button>
  </ion-nav-buttons> -->
  <ion-content padding="true">
    <ion-list>
    <!--<ion-toggle  ng-model="settings.enableFriends">
        Recevoir des notifications
    </ion-toggle>-->
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" ng-model="settings.prenom" ng-change="savePrenom()" placeholder="Ton prénom">
          </label>
        </div>
      </div>
    </ion-list> 
    <div class="list card">
      <div class="item item-divider">La coloc</div>
      <div class="item item-body">
        <div>
          Colocataires : Caro, Alissia, Greg, Gael
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
