<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content> 
  
  <!-- Left Side Menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title"> <i class="icon ion-soup-can-outline"></i>  Shopencoloc</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
		<ion-item ng-click="goTo('home', true)" class="item item-icon-left">
                  <i class="icon ion-ios-cart-outline"></i>
                  <span>Liste de courses</span>
              </ion-item>
    <ion-item ng-click="goTo('profile',true)" class="item item-icon-left">
                  <i class="icon ion-ios-gear-outline"></i>
                  <span>Mon profil</span>
              </ion-item>
    <ion-item ng-click="goTo('login',true)" class="item item-icon-left">
                  <i class="icon ion-ios-information-outline"></i>
                  <span>A propos</span>
              </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
