<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.idmkr.coursesencoloc"
        version   = "1.0.0">
  <name>Courses en Coloc</name>
  <description>
        Faire ses courses en colocation facilement et inteligemment
    </description>

  <author email="zzgael@gmail.com" href="http://www.courses-en-coloc.tk">
      Gael Debost
    </author>

  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

    <icon src="res/icon/android/drawable-ldpi-icon.png" gap:platform="android" gap:qualifier="ldpi"/>
    <icon src="res/icon/android/drawable-mdpi-icon.png" gap:platform="android" gap:qualifier="mdpi"/>
    <icon src="res/icon/android/drawable-hdpi-icon.png" gap:platform="android" gap:qualifier="hdpi"/>
    <icon src="res/icon/android/drawable-xhdpi-icon.png" gap:platform="android" gap:qualifier="xhdpi"/>
    <icon src="res/icon/android/drawable-xxhdpi-icon.png" gap:platform="android" gap:qualifier="xxhdpi"/>
    <icon src="res/icon/android/drawable-xxxhdpi-icon.png" gap:platform="android" gap:qualifier="xxxhdpi"/>
    <gap:splash src="res/splash/android/drawable-land-ldpi-screen.png" gap:platform="android" gap:qualifier="land-ldpi"/>
    <gap:splash src="res/splash/android/drawable-land-mdpi-screen.png" gap:platform="android" gap:qualifier="land-mdpi"/>
    <gap:splash src="res/splash/android/drawable-land-hdpi-screen.png" gap:platform="android" gap:qualifier="land-hdpi"/>
    <gap:splash src="res/splash/android/drawable-land-xhdpi-screen.png" gap:platform="android" gap:qualifier="land-xhdpi"/>
    <gap:splash src="res/splash/android/drawable-land-xxhdpi-screen.png" gap:platform="android" gap:qualifier="land-xxhdpi"/>
    <gap:splash src="res/splash/android/drawable-land-xxxhdpi-screen.png" gap:platform="android" gap:qualifier="land-xxxhdpi"/>
    <gap:splash src="res/splash/android/drawable-port-ldpi-screen.png" gap:platform="android" gap:qualifier="port-ldpi"/>
    <gap:splash src="res/splash/android/drawable-port-mdpi-screen.png" gap:platform="android" gap:qualifier="port-mdpi"/>
    <gap:splash src="res/splash/android/drawable-port-hdpi-screen.png" gap:platform="android" gap:qualifier="port-hdpi"/>
    <gap:splash src="res/splash/android/drawable-port-xhdpi-screen.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
    <gap:splash src="res/splash/android/drawable-port-xxhdpi-screen.png" gap:platform="android" gap:qualifier="port-xxhdpi"/>
    <gap:splash src="res/splash/android/drawable-port-xxxhdpi-screen.png" gap:platform="android" gap:qualifier="port-xxxhdpi"/>

    <icon src="res/icon/ios/icon.png" gap:platform="ios" width="57" height="57"/>
    <icon src="res/icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114"/>
    <icon src="res/icon/ios/icon-40.png" gap:platform="ios" width="40" height="40"/>
    <icon src="res/icon/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80"/>
    <icon src="res/icon/ios/icon-50.png" gap:platform="ios" width="50" height="50"/>
    <icon src="res/icon/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100"/>
    <icon src="res/icon/ios/icon-60.png" gap:platform="ios" width="60" height="60"/>
    <icon src="res/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120"/>
    <icon src="res/icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180"/>
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
    <icon src="res/icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144"/>
    <icon src="res/icon/ios/icon-76.png" gap:platform="ios" width="76" height="76"/>
    <icon src="res/icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152"/>
    <icon src="res/icon/ios/icon-small.png" gap:platform="ios" width="29" height="29"/>
    <icon src="res/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58"/>
    <gap:splash src="res/splash/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136"/>
    <gap:splash src="res/splash/ios/Default-667h.png" gap:platform="ios" width="750" height="1334"/>
    <gap:splash src="res/splash/ios/Default-736h.png" gap:platform="ios" width="1242" height="2208"/>
    <gap:splash src="res/splash/ios/Default-Landscape-736h.png" gap:platform="ios" width="2208" height="1242"/>
    <gap:splash src="res/splash/ios/Default-Landscape@2x~ipad.png" gap:platform="ios" width="2048" height="1536"/>
    <gap:splash src="res/splash/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="768"/>
    <gap:splash src="res/splash/ios/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2048"/>
    <gap:splash src="res/splash/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1024"/>
    <gap:splash src="res/splash/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960"/>
    <gap:splash src="res/splash/ios/Default~iphone.png" gap:platform="ios" width="320" height="480"/>


  <icon src="res/icon.png"/>
  <gap:splash src="res/splash.png" />
</widget>